@model IEnumerable<WebOdevi.Models.Appointment>

<div class="container mt-5" style="padding:60px;">

    <div class="card shadow border-0 rounded-1">
        <div class="card-body">
            <table class="table ">
                <thead style="background-color: #3f1a56; color: white;">
                    <tr>
                        <th>Üye Adı</th>
                        <th>Hizmet</th>
                        <th>Eğitmen</th>
                        <th>Gün / Saat</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.User.FullName</td>
                            <td>@item.Service.Name</td>
                            <td>@item.Trainer.FullName</td>
                            <td>@item.DayOfWeek / @item.Hour</td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center gap-2">
                                    <form asp-action="Approve" asp-route-id="@item.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-success  px-3">Onayla</button>
                                    </form>
                                    <form asp-action="Reject" asp-route-id="@item.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger px-3">Reddet</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

