@using WebOdevi.Data.Enums
@model IEnumerable<WebOdevi.Models.Appointment>
<div class="container mt-5" style="padding-top:60px;">

    <div class="card shadow border-0 rounded-1">
        <div class="card-body">
            <table class="table ">
                <thead style="background-color: #3f1a56; color: white;">
                    <tr>
                        <th>Hizmet</th>
                        <th>Eğitmen</th>
                        <th>Gün</th>
                        <th>Saat</th>
                        <th>Ücret</th>
                        <th>Durum</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <td>@item.Service.Name</td>
                            <td>@item.Trainer.FullName</td> 
                            <td>@item.DayOfWeek</td>
                            <td>@item.Hour</td>

                            <td>@item.Service.trainingFee TL</td>
                            <td>
                                @if (item.Status == AppointmentStatus.Pending)
                                {
                                    <span class="badge" style="color:black">Onay Bekliyor</span>
                                }
                                else if (item.Status == AppointmentStatus.Confirmed)
                                {
                                    <span class="badge " style="color:black">Onaylandı</span>
                                }
                                else
                                {
                                    <span class="badge " style="color:black">Reddedildi</span>
                                }
                            </td>
                            <td class="text-center">
                                <a  asp-controller="Appointment"
                                    asp-action="DeleteAppointment"
                                   asp-route-id="@item.Id"
                                   class="btn-bin"
                                   onclick="return confirm('Bu randevuyu silmek istediğinize emin misiniz?')">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                                

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/0e946e33ac.js" crossorigin="anonymous"></script>
<style>
    .btn-bin{
        transition: 0.2s;
    }
    .btn-bin:hover{
        color: red ;
    }
    .card{
        border: solid 1px #1111;
    }
</style>
